<figure class="card">
  <div class="card__side--front">
    <div class="animal__emoji">{%ANIMALIMAGE%}</div>
    <div class="animal__title-box">
      <h2 class="animal__title">{%ANIMALNAME%}</h2>
    </div>
    <div class="animal__details">
      <div class="animal__from"><span>From:</span> {%ANIMALFROM%}</div>
      <div class="animal__description"><span>Description:</span> {%ANIMALDESCRIPTION-AB%}</div>
    </div>
  </div>

  <div class="card__side--back">
    <!-- <a href="/animal?id={%ID%}" class="clickable"> </a> -->
    <div class="animal__link--div">
      <a href="/animal?id={%ID%}" class="animal__link">
        <span
          ><p class="fixit">View Animal <i class="emoji-right">👉</i></p></span
        >
      </a>
    </div>
    <div class="opacity">
      <div class="animal__emoji">{%ANIMALIMAGE%}</div>
      <div class="animal__title-box">
        <h2 class="animal__title">{%ANIMALNAME%}</h2>
      </div>
      <div class="animal__details">
        <div class="animal__from"><span>From:</span> {%ANIMALFROM%}</div>
        <div class="animal__description"><span>Description:</span> {%ANIMALDESCRIPTION-AB%}</div>
      </div>
    </div>
  </div>
</figure>
